[user]
  name = Omid Panahi
  email = me@omidpanahi.com

[alias]
  rh = reset --hard HEAD
  cb = checkout -b
  c = checkout
  cp = cherry-pick
  unstage = reset --soft HEAD
  undo = reset --soft HEAD~1
[push]
  default = current